footer {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background-color: #0288D1;
  color: #fff;
}
@media(max-width:767px){
  footer{
    position: fixed;
    bottom: 0;
  }
} 
