<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span class="logo" routerLink="/"><img src="assets/images/icons/logo.svg" alt=""></span>
    <span class="spacer"></span>
    <button mat-button routerLink="/" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">Home</button>
    <a mat-button href="https://inquiry.sunbird.org" target="_blank">Documentation</a>
    <!-- <button mat-button routerLink="content-list" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">About</button> -->
    <a mat-button href="https://github.com/Sunbird-inQuiry/Community/discussions" target="_blank">
      <img src="assets/images/icons/github-circle-white-transparent.svg" alt="" />&nbsp;Github
    </a>
    <!-- <button mat-button href="https://github.com/project-sunbird/sunbird-community">
      &nbsp;Github</button> -->
  </mat-toolbar>
</header>

<!-- https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ -->