.left-content {
  width: 20%;
  background-color: #f3f8ff;
  padding: 12px 0 0 12px;
}
.right-content {
  width: 80%;
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
//Common contribution card section
.common-contribution-card {
  box-sizing: border-box;
  border: 0.5px solid rgba(123, 134, 244, 0.39);
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: none;
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;

  .content-title {
    font-size: 14px;
    color: gray;
    vertical-align: middle;
    line-height: 20px;
    width: 100%;
    text-align: center;
    top: 45%;
    position: absolute;
    margin-bottom: 0;
    font-weight: 600;
  }

  &:hover,
  &.active {
    cursor: pointer;
    z-index: 5;
    background: #fff;
    transform: translateY(-3px);
    box-shadow: 0 2px 8px 0 rgba(123, 134, 244, 0.31);
    border: 0.5px solid rgba(208, 208, 208, 0.48);
  }
}
.mat-h2,
.mat-h3 {
  font-weight: 700;
}
