<mat-toolbar>
  <button mat-button color="primary" (click)="navigationService.goBack()">
    <mat-icon>arrow_back</mat-icon>&nbsp;Back
  </button>
  <span class="spacer"></span>
  <button mat-flat-button color="accent" (click)="openDialog()">
    <mat-icon>edit</mat-icon>&nbsp;Edit Player Configurations
  </button>
</mat-toolbar>
<div class="middle-section-set">
  <div class="pb-10 text-right">
    <button type="button" (click)="switchToLandscapeMode();" class="btn-none">
      <i class="tv icon sb-color-primary fs-1-143" [ngClass]="{'opacity-icon': showPortrait}"></i>
    </button>
    <span class="fs-1-16 font-weight-normal sb-color-gray-100">|</span>
    <button type="button" (click)="switchToPortraitMode();" class="btn-none">
      <i class="mobile alternate icon sb-color-primary fs-1-3" [ngClass]="{'opacity-icon': !showPortrait}"></i>
    </button>
  </div>
  <div [ngClass]="{'portrait-mode': showPortrait}">
    <div class="b-1-100 br-2 mt-5">
      <div *ngIf="!playerConfig">Loading...</div>
      <section class="aspectratio handle-zoom" data-ratio="16:9" #aspectRatio>
        <div #qumlPlayer></div>
      </section>
    </div>
  </div>
</div>