.spacer {
  flex: 1 1 auto;
}
.aspectratio[data-ratio="16:9"] {
  padding-top: 56.25%;
}
.aspectratio {
  position: relative;
  width: 100%;
  height: 0;
}
.aspectratio > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.middle-section-set {
  max-width: 854px;
  width: 100%;
  margin: 50px auto;
}
.portrait-mode {
  .b-1-100 {
    width: 480px;
    margin: auto;
  }
  .player-endpage {
    height: inherit !important;
  }
  .aspectratio {
    &[data-ratio="16:9"] {
      padding-top: calc(100% / (9 / 12));
    }
  }
}
.btn-none {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
}
.opacity-icon {
  opacity: 0.45 !important;
}
