section {
  // height: 100%;
  .outer-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

section{
  position: relative;
}
app-footer{
  position: absolute;
  bottom: -28px;
  width: 100%;
}
main{
  min-height: 100vh;
}
