<h1 mat-dialog-title class="text-center py-20">Please choose the user role</h1>
<div class="flex-jc-center p-20">
    <div class="card-cols d-flex">
        <div class="text-center common-contribution-card mr-10" (click)="getAllUsersByRoleType('creator')">
            <div class="content">
                <mat-icon class="text-primary mat-icon-xl">people</mat-icon>

                <div class="content-title mt-20 font-weight-bold font-16">Creator</div>
            </div>
        </div>
        <div class="text-center common-contribution-card" (click)="getAllUsersByRoleType('reviewer')">
            <div class="content">
                <mat-icon class="text-primary mat-icon-xl">people_outline</mat-icon>

                <div class="content-title mt-20 font-weight-bold font-16">Reviewer</div>
            </div>
        </div>
    </div>
</div>

