.sb-card {
    background-color: var(--white);
    border: .0625rem solid #dedede;
    border-radius: .25rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
    transition-delay: .1s;
    margin: .1875rem 0.6rem 0.6rem 0;
    &:hover {
        transform: translate(0,-.1875rem);
        box-shadow: 0 0.125rem 0.4375rem 0 #cac5c5;
    }
    .sb-card-body {
      height: 5.75rem;
      padding: 1rem 1rem .5rem;
      overflow: hidden;
    }
    .sb-card-metas {
      display: flex;
      align-items: flex-start;
    }
    .sb-card-image {
      width: 3.75rem;
      height: 3.75rem;
      border: .0625rem solid var(--gray-100);
      background-color: rgb(52, 73, 94);
      color: #fff;
      border-radius: 100%;
      margin: 0 1rem 0 0;
      font-size: 2rem;
      text-align: center;
      line-height: 3.5rem;
      img {
        width: 4.375rem;
        height: 5.75rem;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .sb-card-meta {
        height: 3.75rem;
        width: 9rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow: hidden;
        padding-top: 20px;
    }
  }
  .masonry-grid {
    display: flex;
    flex-wrap: wrap;
    width: 546px; 
  }