<div class="px-30 mt-20">
    <div class="ui grid mt-5">
        <div class="twelve wide column ">
            <div class="ui grid">
                <div class="three wide column">
                    <div class="ui link card" (click)="createContent()">
                        <div class="content">
                            <div class="textcontent">
                                <i class='my-icon file text outline icon'></i>
                                <span class="my-text">QuestionSet</span>
                            </div>
                        </div>
                    </div>
                    <p class="workspaceinstuction">Create Questionsets</p>
                </div>
            </div>
        </div>
    </div>
</div>