/* You can add global styles to this file, and also import other style files */
​ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
​ html,
body {
  height: 100%;
  box-sizing: border-box;
}
​ body {
  position: relative;
  font-family: "Poppins", sans-serif;
}
​ .quml-header__metadata--portrait {
  bottom: 55px !important;
}
@media (max-width: 768px) {
  .quml-header__metadata--portrait {
    display: flex !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: 0.5rem 1rem !important;
    background-color: var(--white) !important;
    z-index: 5 !important;
    min-height: 3rem !important;
  }
}
@media (min-width: 320px) {
  .portrait-mode .quml-navigation {
    position: absolute;
    bottom: -565px;
    right: 31px;
  }
  .portrait-mode .endPage-container-height {
    height: 50% !important;
  }
}

.searchicon {
    input:placeholder{
      color: black;
  }
}

:focus-visible {
  border: .0625rem solid #000 !important;
  border-radius: .25rem;
  outline: 0;
}
lib-editor .add-to-library .dynamic-form .sb-dropdown label,lib-editor .add-to-library .input-label{
  z-index: 2 !important;
}