.sb-table {
  width: 100%;
  background: var(--white);
  border: .0625rem solid var(--gray-100);
  box-shadow: none;
  border-radius: .25rem .25rem 0 0;
  text-align: left;
  color: var(--gray);
  border-collapse: separate;
  border-spacing: 0;
}

.sb-table thead th {
  font-size: .875rem;
  padding: 1rem;
  background-color: var(--gray-0);
}

.sb-table tbody td {
  font-size: .875rem;
  padding: 1rem;
  color: var(--gray);
  height: 3.5rem;
  border-bottom: .0625rem solid var(--gray-100);
  cursor: pointer;
}

.sb-table tbody {
  display: block;
  overflow: auto;
  max-height: 500px;
  width: 100%;
}

.sb-table thead tr {
  display: block;
}

.sb-table th,
td {
  width: 554px;
}
