<app-list-filter></app-list-filter>
<div class="px-30 mt-20">
  <div class="sb-table-container" *ngIf="questionsetList?.length">
    <table class="sb-table sb-table-hover">
      <thead>
        <tr>
          <th>Questionset Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionset of questionsetList let i = index" [id]="i" (click)="navigateToQuestionset(questionset.identifier, questionset.status)">
          <td>{{questionset?.name}}</td>
          <td>{{questionset?.status}}</td>
        </tr>
      </tbody>
    </table>
    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ten wide column">
        <div class="pb-10" *ngIf="questionsetList && totalCount > PAGE_LIMIT && !noResult">
          <div class="ui pagination menu mt-10 right-floated  mt-40 " *ngIf="pager.pages.length ">
            <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " tabindex="0" (click)="navigateToPage(1) ">First</a>
            <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " tabindex="0" (click)="navigateToPage(pager.currentPage - 1)">Previous</a>
            <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" tabindex="0" (click)="navigateToPage(page)" class="item">{{page}}</a>
            <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" tabindex="0" (click)="navigateToPage(pager.currentPage + 1)" class="item">Next</a>
            <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" tabindex="0" (click)="navigateToPage(pager.totalPages)" class="item ">Last</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center" *ngIf="!questionsetList?.length && noResult">Questionset not available!</h4>
</div>
