.sb-table {
  width: 100%;
  background: var(--white);
  border: .0625rem solid var(--gray-100);
  box-shadow: none;
  border-radius: .25rem .25rem 0 0;
  text-align: left;
  color: var(--gray);
  border-collapse: separate;
  border-spacing: 0;
}

.sb-table thead th {
  font-size: .875rem;
  padding: 1rem;
  background-color: #f9fafb;
}

.sb-table tbody td {
  font-size: .875rem;
  padding: 1rem;
  color: var(--gray);
  height: 3.5rem;
  border-bottom: .0625rem solid var(--gray-100);
  cursor: pointer;
}

.sb-table tbody {
  display: block;
  width: 100%;
}

.sb-table thead tr {
  display: block;
}

.sb-table tr:hover {
  background-color: #f5f5f5;
}

.sb-table th,
td {
  width: 554px;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
.mat-dialog-actions-align-end {
  justify-content: flex-end
}

.p-20 {
  padding: 20px
}

table tbody {
  border-top: 0;
}