<mat-toolbar>
    <button mat-button color="primary" (click)="navigatetoHome()">
      <mat-icon>arrow_back</mat-icon>&nbsp;Back
    </button>
  </mat-toolbar>

  <div class="d-flex">
    <div class="left-content">
      <div class="sb-sidebar-menu">
        <h3 class="font-700 mat-h3 mt-10">Question Set</h3>
        <ul>
           <li class="active mb-0">All Question Set</li>
        </ul>
     </div>
    </div>
    <div class="right-content">
      <div class="px-30 mt-20">
        <div class="sb-table-container" *ngIf="questionsetList?.length">
          <table class="sb-table sb-table-hover">
          <thead>
              <tr>
                <th>Questionset Name</th>
                <th>Status</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let questionset of questionsetList" (click)="navigateToQuestionset(questionset.identifier)">
              <td>{{questionset?.name}}</td>
              <td>{{questionset?.status}}</td>
              </tr>
          </tbody>
          </table>
      </div>

      <h4 class="text-center" *ngIf="!questionsetList?.length">Questionset not available!</h4>
    </div>
  </div>