.left-content {
  width: 20%;
  background-color: #e5edf5;
  padding: 12px 0 0 12px;
  height: 900px;
}

.right-content {
  width: 80%;
  background-color: #e5edf5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.mat-h2,
.mat-h3 {
  font-weight: 700;
}

.sb-sidebar-menu ul li.active {
  background: linear-gradient(270deg,#d0d0d000 0,#fff 100%);
  color: #0288D1;
}

.sb-sidebar-menu ul li {
  font-size: 14px;
  font-weight: bold;
}

.sb-sidebar-menu ul li:hover {
  background: linear-gradient(270deg, #d0d0d000 0, #fff 100%);
}

.sb-table {
  width: 100%;
  background: var(--white);
  border: .0625rem solid var(--gray-100);
  box-shadow: none;
  border-radius: .25rem .25rem 0 0;
  text-align: left;
  color: var(--gray);
  border-collapse: separate;
  border-spacing: 0;
}

.sb-table thead th {
  font-size: .875rem;
  padding: 1rem;
  background-color: var(--gray-0);
}

.sb-table tbody td {
  font-size: .875rem;
  padding: 1rem;
  color: var(--gray);
  height: 3.5rem;
  border-bottom: .0625rem solid var(--gray-100);
}