<mat-toolbar>
    <button mat-button color="primary" (click)="navigatetoHome()">
        <mat-icon>arrow_back</mat-icon>&nbsp;Back
    </button>
</mat-toolbar>

<div class="d-flex">
    <div class="left-content">
        <div class="sb-sidebar-menu">
            <h3 class="font-700 mat-h3 mt-10">Question Set</h3>
            <ul *ngIf="userRole === 'creator'">
                <li class="active mb-0" routerLink="/questionset/create" routerLinkActive #rla="routerLinkActive"
                [class.active]="rla.isActive" (click)="nagivateToPage('create')">Create</li>
            </ul>
            <ul>
                <li class="active mb-0" routerLink="/questionset/questionset-list" routerLinkActive #rla="routerLinkActive"
                [class.active]="rla.isActive" (click)="nagivateToPage('questionset-list')">Questionset List</li>
            </ul>
        </div>
    </div>
    <div class="right-content">
        <router-outlet></router-outlet>
    </div>
</div>