<div class="sbt-page-gap">
    <div class="ui grid padded">
      <div class="seven wide column pt-0 pl-0">
        <div class="ui fluid icon input left action" id="search-input-container">
          <div class="searchfilterinput ui search">
            <div class="searchicon ui icon input ">
              <input class="" type="text" name="filter_search" 
                [(ngModel)]="query" (keyup)="keyup(query)"
                placeholder="Search questionset"
                title="Search" autocomplete="off" spellcheck="false" dir="auto" />
              <i class="circular search link icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>